<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo</title>
</head>
<body>
    <!-- contenido de paginas -->
    <!-- colocr los enlaces para los script -->
    <!-- ../js/holamundo.js -->
    <!-- /js/holamundo.js (se coloca / al inicio para indicar que busque desde el directorio raizS) -->
    <script src="/PracticaJavascript/js/holamundo.js"></script>
</body>
</html>