<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suma</title>
</head>
<body>
    <!-- se van a crear 3 cuadros de texto -->
    <!-- un boton para ejecutar la suma -->
    <label for="">Numero 1</label>
    <input id="num1" type="number" placeholder="ingrese el primer numero"></imput>
    <br>
    <label for="">Numero 2</label>
    <input id="num2" type="number" placeholder="ingrese el segundo numeroo"></imput>
    <br>
    <button onclick="sumar();">sumar</button>
    <br>
    <label for="">RESUTADO</label>
    <input id="result" type="number" placeholder="resultado" disabled></imput>
    <script src="/PracticaJavascript/js/suma.js"></script>
</body>
</html>